.container {
    margin-top: 30px;
    margin-left: 10px;
    max-width: 1850px;
    min-width: 800px;
    display: flex;
    /* min-height: 1500px; */
    /* max-height: 3000px; */
}

.form_wrapper {
    padding-left: 100px;
}

.fil:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.inp_wrapper {
    padding-left: 20px;
    padding-top: 20px;
    width: 1020px;
    display: flex;
    flex-wrap: wrap;
}

.input-group{
    width: 500px;
    padding-right: 10px;
}

.input-group-text {
    width: 160px;
    text-align: right;

}